.video-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .video{
        width: 100%;
    }

    .videoinfo{
        width: 100vw;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        background-color: rgb(196, 191, 191);
        font-size: 2rem;
        .views{
            margin: 0 10px;
        }
                  .likes {
                      margin: 0 10px;

                      .like-video{
                        cursor: pointer;
                      }
                  }
        
    }
    .video__title{
        background-color: rgb(196, 191, 191);
        width: 100%;
        text-align: start;
        font-size: 2rem;
        padding: 1rem;
    }
}

